@media (max-width: 768px) {

    .cv {
        flex-direction: column;
        margin: 0;
    }

    .sidebar,
    .content {
        width: 100%;
    }

    .sidebar {
        text-align: center;
    }

    .sidebar ul {
        list-style: none;
        padding-left: 0;
    }

    .header h1 {
        margin: 0;
        text-align: center;
        font-size: 22px;
    }

    .content {
        padding: 20px;
    }
}
